.container {
    /*background-color: indigo;*/
    margin-left: 0px;
    margin-top: 0px;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: .025px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: 450;
  letter-spacing: .015px;
  padding-bottom: 5px;
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: 350;
  letter-spacing: .025px;
  font-family: 'Roboto', sans-serif;
}

#userList {
  padding-top: 5px;
  font-weight: 350;
  letter-spacing: .025px;
  font-family: 'Roboto', sans-serif;
}

.user {
  margin-bottom: 10px;
}

.pic {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#side_content {
  position: fixed;
  background-color: #64b5f6;
  top: 100;
  right: 0;
  height: 80%;
  width: 0px;
  padding: 12px;
  transition: 0.5s;
  z-index: 1;
  overflow: hidden;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; 
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  .role:checked + .slider {
    background-color: #2196F3;
  }
  
  .role:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .role:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
#teamForm {
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: fixed;
  top: 40%;
  left: 60%;
  z-index: 200;
  height: 200px;
  width: 300px;
  background-color: white;
  display: none;
}

.btn {
  float: left;
  z-index: 25;
}

#add {
  position: absolute;
  bottom: 25px;
}

#close {
  position: absolute;
  bottom: 25px;
  right: 30px;
}

#border {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 20;
  opacity: .1;
}
.chosen-value, .teamList {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
.chosen-value {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  height: 4rem;
  font-size: 1.1rem;
  padding: 1rem;
  background-color: #fafcfd;
  border: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.chosen-value::-webkit-input-placeholder {
  color: #333;
}
.chosen-value:hover {
  background-color: #6495ed;
  cursor: pointer;
}
.chosen-value:hover::-webkit-input-placeholder {
  color: #333;
}
.chosen-value:focus, .chosen-value.open {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  outline: 0;
  background-color: #6495ed;
  color: #000;
}
.chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {
  color: #000;
}
.teamList {
  list-style: none;
  margin-top: 4rem;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
}
.teamList.open {
  max-height: 320px;
  overflow: auto;
}
.teamList li {
  position: relative;
  height: 4rem;
  background-color: #fafcfd;
  padding: 1rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  z-index: 30;
}
.teamList li:hover {
  background-color: #6495ed;
}
.teamList li.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
}
