.main-content {
    min-height: 80%;
    /*background-color: lightskyblue;*/
}

.sidebar-content {
    min-height: 35%;
    /*background-color: mediumslateblue;*/
    margin-bottom: 10rem;
}

p {
    margin-left: 10px;
}
.title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .015px;
    margin-bottom: 5px;
}

.name {
    font-size: 16px;
    font-weight: 500;

}

.date {
    font-size: 16px;
    font-weight: 500;
}

.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #2F80ED;
    border-radius: 0.6em;
    color: black;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 7px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    float: left;
}

.btn:hover {
    box-shadow: 0 0 40px 40px #2F80ED inset;
}

#dateForm  {
    display: none;
    position: absolute;
    height: 150px;
    width: 200px;
    top: 50%;
    left: 50%;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

#id {
    display: none;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    border-color: #2F80ED;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
}

#complete {
    display: none;
}

.content {
    background-color: #F8F8F8;
    overflow: auto;
    box-shadow: 5px 5px 8px grey;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: thin;

}

#feedbackForm {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: fixed;
    height: 200px;
    width: 350px;
    top:50%;
    left: 50%;
    background-color: white;
    display: none;
}

