.container {
    /*background-color: indigo;*/
    margin-left: 0px;
    height: 300px;
    margin-bottom: 100px;
    overflow: auto;

}

.user {
    background-color: lightcoral;
    margin-bottom: 10px;
    border-style: solid;
    border-width: thin;
    border-color: grey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px grey;
}

.pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#side_content {
    position: fixed;
    background-color: white;
    bottom: 0;
    right: 0;
    height: 80%;
    width: 0px;
    transition: 0.5s;
    z-index: 1;
    overflow: hidden;
    box-shadow: 5px 5px 5px 8px grey;
    border-radius: 10px;
}

#teamForm {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: fixed;
    top: 40%;
    left: 60%;
    z-index: 200;
    height: 200px;
    width: 300px;
    background-color: white;
    display: none;
  }
  
  .btn {
    float: left;
    z-index: 25;
  }
  
  #add {
    position: absolute;
    bottom: 25px;
  }
  
  #close {
    position: absolute;
    bottom: 25px;
    right: 30px;
  }
  
  #border {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 20;
    opacity: .1;
  }

.chosen-value {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    height: 4rem;
    font-size: 1.1rem;
    padding: 1rem;
    background-color: #fafcfd;
    border: 3px solid transparent;
    transition: 0.3s ease-in-out;
  }
  .chosen-value::-webkit-input-placeholder {
    color: #333;
  }
  .chosen-value:hover {
    background-color: #6495ed;
    cursor: pointer;
  }
  .chosen-value:hover::-webkit-input-placeholder {
    color: #333;
  }
  .chosen-value:focus, .chosen-value.open {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    outline: 0;
    background-color: #6495ed;
    color: #000;
  }
  .chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {
    color: #000;
  }
  .teamList {
    list-style: none;
    margin-top: 4rem;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 0;
    transition: 0.3s ease-in-out;
    width: inherit;
  }
  .teamList.open {
    max-height: 320px;
    overflow: auto;
  }
  .teamList li {
    position: relative;
    height: 4rem;
    background-color: #fafcfd;
    padding: 1rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    width: inherit;
    z-index: 30;
  }
  .teamList li:hover {
    background-color: #6495ed;
  }
  .teamList li.closed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
  }
  
