p {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: .025px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .015px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .015px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.name {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.date {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.main_content {
    width: 90%;
    top: 70;
}

.card {
    box-shadow: 5px 5px 8px grey;
    margin-bottom: 25px;
}

#side_content {
    position: fixed;
    background-color: white;
    /*bottom: 0; */
    top: 100;
    right: 0;
    height: 80%;
    width: 0px;
    padding: 12px;
    transition: 0.5s;
    z-index: 1;
    overflow: auto;
    box-shadow: 5px 5px 5px 8px grey;
    border-radius: 10px;
}

#side_title {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: .015px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

#side_subtitle {
    font-size: 20px;
    font-weight: 450;
    letter-spacing: .015px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#side_description, #side_tags {
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#side_date, #side_header {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .015px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#side_header {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .015px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

#dateForm  {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    text-align: center;
    width: 20%; /* Could be more or less, depending on screen size */
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-left: 0em;
    margin-right: 0em;
}

#id {
    display: none;
}

.accept {
    position: absolute;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #2F80ED;
    border-radius: 0.6em;
    color: black;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 7px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    bottom: 25px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
 
}

.accept:hover {
    box-shadow: 0 0 40px 40px #2F80ED inset;
}

.btn {
    background: none;
    background-color: #64b5f6;
    border: none;
    color: black;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 450;
    margin-top: 10px;
    margin-right: 10px;
    transition-duration: 0.3s;
}

.btn:hover {
    background: none;
    background-color:none;
    border: 1px solid;
    border-color: #64b5f6;
    color: black;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 450;
    margin-top: 10px;
    margin-right: 10px;
    transition-duration: 0.3s;
}

#close {
    background: none;
    background-color: #f44336;
    border: none;
    color: black;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 450;
    margin-top: 10px;
    margin-left: 10px;
    transition-duration: 0.3s;
}

#close:hover {
    background: none;
    background-color:none;
    border: 1px solid;
    border-color: #f44336;
    color: black;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 450;
    margin-top: 10px;
    margin-left: 10px;
    transition-duration: 0.3s;
}

#num {
    position: relative;
    margin: 10px 10px 10px 10px;
}

.pic {
    border-radius: 50%;
    width:50px;
    height: 50px;
    position: absolute;
    right: 25px;
    top: 10px;
}

.tags {
   color: #2F80ED;
   font-size: 15px;
   font-weight: 200;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }