<html>
    <head>
        {% block head %}
        <title>{%block title %}{% endblock%} Reviewership</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/base.css') }}">
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">   
        <script src="/static/scripts/jquery-3.4.1.min.js"></script>
        <script src="/static/scripts/bootstrap-4.4.1.bundle.min.js"></script>
        <script src="/static/scripts/moment.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <div>
            <a href="{{ url_for('app.index')}}">Home</a>  
            <a href="{{ url_for('app.requestor')}}">Requestor</a>
            <a href="{{ url_for('app.reviewer')}}">Reviewer</a>
        </div>
        <hr>
        {% block content %}{% endblock %} 
        {% block scripts %}{% endblock %}
    </body>
   
</html>