{% extends "base.html" %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}">
{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row">
       
        <div class="col-sm-4">
            <!--Nested rows within a column-->
            <div class="row">
                <div class="col-12">
                    <div class="sidebar-content">side
                        {% for review in received_reviews %}
                            <div class = card>
                                <p class ="title">{{review.title}}</p>
                                <p class ="name">{{review.requestor_name}}</p>
                                <p class ="date">{{review.date}}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="sidebar-content">side
                        {% for review in proposed_reviews %}
                        <div class = card>
                            <p class ="title">{{review.title}}</p>
                            <p class ="name">{{review.requestor_name}}</p>
                            <p class ="date">{{review.date}}</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
               
            </div>
        </div> 
        <div class="col-sm-4">
            <div class="main-content">main</div>
        </div>
        <div class="col-sm-4">
            <div class="main-content">main</div>
        </div>
    </div>
</div>
            
{% endblock %}