{% extends "base.html" %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}">
{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="row">
       
        <div class="col-sm-4">
            <!--Nested rows within a column-->
            <div class="row">
                <div class="col-12">
                    <div class="sidebar-content content">Reviews you need to accept or Propose
                        {% for review in received_reviews %}
                            <div class = "card">
                                <p class ="title">{{review.title}}</p>
                                <p class ="name">{{review.requestor_name}}</p>
                                <p class ="date">Date Proposed: {{review.date}}</p>
                                <button type="sumbit" class="btn test"  id = '{{review.id}}'> Accept</button>
                                <button type="sumbit" class="btn"  onclick="openForm(this.id)" id = '{{review.id}}'> Propose</button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="sidebar-content content">Reviews you proposed
                        {% for review in proposed_reviews %}
                        <div class = card>
                            <p class ="title">{{review.title}}</p>
                            <p class ="name">{{review.requestor_name}}</p>
                            <p class ="date">{{review.date}}</p>
                            <button type="sumbit" class="btn"  id = '{{review.id}}'> Accept</button>
                        </div>
                    {% endfor %}
                    </div>
                </div>
               
            </div>
        </div> 
        <div class="col-sm-4">
            <div class="main-content content"> Reviews in progress
                {% for review in progress_reviews %}
                <div class = card>
                    <p class ="title">{{review.title}}</p>
                    <p class ="name">{{review.requestor_name}}</p>
                    <p class ="date">{{review.date}}</p>
                    <button type="sumbit" class="btn" onclick="makeForm(this)" id = '{{review.id}}'> complete</button>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="main-content">main</div>
        </div>
    </div>
    <form id = "dateForm" action="" method="POST" novalidate>
        <div id ="num">
            {{ forms.hidden_tag() }}
            <h2 style="font-size:20px; text-align:center">Select a date</h2>
            {{forms.date}} <br>
            {{forms.submit(class_="btn")}}
           
            <button type="button" class="btn" onclick="closeForm()">CANCEL</button> <br>
            {{forms.id}}
        </div>
    </form>

    <div id = "feedbackForm">
        <div id = "row">
            <h2 id ="question"></h2>
        </div>
        <div id = "row">
            <div class="dot" id ="b1"></div>
            <div class="dot" id ="b2"></div>
            <div class="dot" id ="b3"></div>
            <div class="dot" id ="b4"></div>
            <div class="dot" id ="b5"></div>
        </div>
    </div>
    <button id="last" onclick="lastQuestion()">Previous</button>
    <button id="next" onclick="nextQuestion()">Next</button>
    <button id="complete" onclick="completeFeedback()">Complete</button>
</div>

{% block script %}
<script>
    var questions = []
    var answers = []
    var count = 0
    var id 
    $(document).ready(function() {
        $.get('/feedback', function(data){
            for(i = 0; i < Object.keys(data).length; i++) {
                questions.push(data[i])
            }
            console.log(questions)
        })

    })

    function makeForm(data) {
        count = 0
        document.getElementById("feedbackForm").style.display = "block"
        document.getElementById("question").innerText = questions[count]
        $("#b3").css('background-color',"#2F80ED")
        answers[count] = 3
        id = data.id
    }

    function nextQuestion() {
        console.log(answers)
        console.log(count)
        count++
        document.getElementById("question").innerText = questions[count]
        document.getElementById("last").style.display = "block"
        $("#b1").css('background-color', "white")
        $("#b2").css('background-color', "white")
        $("#b3").css('background-color', "white")
        $("#b4").css('background-color', "white")
        $("#b5").css('background-color', "white")
        
        if (answers[count] == null) {
            answers[count] = 3
            $("#b3").css('background-color',"#2F80ED")
        } else {
            id = 'b'+ answers[count].toString()
        $("#" + id).css('background-color', "#2F80ED")
        }
        console.log(questions.length)
        if(count == (questions.length-1)) {
            document.getElementById("next").style.display="none"
            document.getElementById("complete").style.display="block"
        }
    }

    function lastQuestion() {
        console.log(answers)
        console.log(count)
        count--
        document.getElementById("question").innerText = questions[count]
        document.getElementById("complete").style.display="none"
        document.getElementById("next").style.display = "block"
        $("#b1").css('background-color', "white")
        $("#b2").css('background-color', "white")
        $("#b3").css('background-color', "white")
        $("#b4").css('background-color', "white")
        $("#b5").css('background-color', "white")
        id = 'b'+ answers[count].toString()
        $("#" + id).css('background-color', "#2F80ED")
        if(count == 0) {
            document.getElementById("last").style.display="none"
        }
    }

    function completeFeedback() {
        $.post('/feedback', {id:id,answer:JSON.stringify(answers)})
    }

     function openForm(id) {
                //id = id 
                document.getElementById("dateForm").style.display = "block";
                /*document.getElementById("submit").setAttribute("id", id)*/
                z = document.getElementById(id);
                document.getElementById("id").value = id
                var x = document.getElementById(id).parentElement.offsetTop
                var y = document.getElementById(id).offsetLeft
                console.log(id + ' ' + x + ' ' + y)
                document.getElementById("dateForm").style.top = (x + 150)
                document.getElementById("dateForm").style.left = y
    }

        $(function () {
        $('#datepick').datetimepicker(); 
            
        });
        
        $(function() {
                $('.test').click(function() {
                     console.log(this);
                    id = this.id
                    console.log(id);
                   
                    $.ajax({
                        type: 'POST',
                        url: "/home" ,                       
                        data : {'id':id}
                    });
                    console.log("we here");
                });
            });

    $(".dot").click(function(){
        $("#b1").css('background-color', "white")
        $("#b2").css('background-color', "white")
        $("#b3").css('background-color', "white")
        $("#b4").css('background-color', "white")
        $("#b5").css('background-color', "white")
        $(this).css('background-color',"#2F80ED")
        num = this.id
        num = num.slice(-1)
        x = parseInt(num)
        answers[count] = x
    })
</script>
{% endblock %}
{% endblock %}