{% extends "base.html" %}


{% block head %}
{{ super() }}
<link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block content %}
   
    <div class = "container"> <h1> Make a review</h1><div class= "row">

    <form action="" method="post" novalidate>
        <div class= col-md-8>
            <div class = "row justify-content-center">
        {{ form.hidden_tag() }}
        
            {{form.title.label}}<br>
            {{form.title}}
         </div><div class=row>
       
            {{form.description.label}}<br>
            {{form.description}}
        </div> <div class=row>
        
            {{form.biling.label}}<br>
            {{form.biling}}
        
           </div>
        
       <div class=row>
        {{ form.create() }}</div>
    </div>
    </form>
    </div>
{% endblock %}

{% block scripts %}
   
{% endblock %}