{% extends "base.html" %}


{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/requestor.css') }}">
<link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block content %}
   
    <div class = "container"> <h1> Request a Review</h1>

    <form action="" method="post" novalidate>
        {{ cform.hidden_tag() }}
       
       
        <div class= col-md-12>
            <div class = "row">
                <div class=col-md-6>
                    <div class ="wrapper">
        
                        {{cform.title.label(class="labels")}}<br>
                        {{cform.title(class="inputs", Placeholder="Enter Title")}}
                    </div>
                </div>
                <div class=col-md-6>
                    <div class="wrapper">
                        {{cform.biling.label(class="labels")}}<br>
                        {{cform.biling(class="inputs", Placeholder="Title of Job")}}
                    </div>
                </div>
            </div> <br>
            <div class="row big">
                <div class ="col-md-12">
                    <div class="wrapper">
                        {{cform.description.label(class="labels")}}<br>
                        {{cform.description(class="bigBox", Placeholder="Tell us about it")}}
                    </div>
                </div>
            <br>
            <div class="row big">
                <div class="col-md-12">
                    <div class = "wrapper">
                        {{cform.tags}}
                        <label class="labels" for="input">Tags*</label>
                        <button  type = button onclick=addTag() id=button class="btn">Add Tag </button>
                        <input class="inputs" id=input placeholder="Add tags here">
                        
                    </div>
                   
                </div>
            </div> <br>
        </div>
        <div class=row4>
            
        
        <br>
        {{ cform.create(class="btn") }}
    </div>
        
    </div>
    </form>
    </div>

    <div class = tagList>
        Tag List:
        <ul id = 'list'>
           
        </ul>
    </div>
    </div>


{% block scripts %}
<script>
    function addTag() {
        tag = document.getElementById('input').value;
        ul = document.getElementById('list');
        li = document.createElement("li")
        li.appendChild(document.createTextNode(tag));
        ul.appendChild(li);
        var text='';
        for(i = 1;i<y.length;i++)                    
            text = text + ' ' + y[i].innerText + ',';
        document.getElementById('tags').value = text
    }

    function setTag() {
        var x = document.getElementById('list');
                    y = x.childNodes
                    var z=[];
                    for(i = 1;i<y.length;i++) {
                        z.push(y[i].innerText);
                        text = text + ' ' + y[i] + ', '
                    }
                    document.getElementById('tags').value = text
                    console.log(text)
    }

    $(function() {
                $('#button').click(function() {
                    console.log("we made it");
                    var x = document.getElementById('list');
                    y = x.childNodes
                    var z=[];
                    var text = '';
                    for(i = 1;i<y.length;i++) {
                        z.push(y[i].innerText);
                        text = text + ' ' + y[i].innerText + ', '
                    }
                    console.log(text)
                   
                    $.ajax({
                        type: 'POST',
                        url: "/requestor" ,                       
                        data : {'tags':z}
                    });
                    console.log("we here");
                });
            });
</script>
{% endblock %}

{% endblock %}