{% extends "base.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/reviewer.css') }}">
{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class = "row">
            <div class= "col-lg-9 main_content">
                 {% for review in reviews %}
                    <div class ="col-md-4">
                        <div class ="card" onclick="createSide(this)">
                            <p class ="title"> {{review.title}}</p>
                            <p class ="name">Requested by: {{review.requestor_name}}</p>
                            <p class ="date">Created on: {{review.date|date_filter}}</p>
                            <img src = "{{review.pic}}" class=pic>
                            <p class>Tags: <span class="tags">{{review.tagString}}</span></p>
                            <button type="sumbit" class="accept" onclick="openForm(this.id)" id = '{{review.id}}'> Accept</button>
                            <p hidden class="des">{{review.description}}</p>
                            
                                
                           
                        </div>
                    </div> 
                 {% endfor %}
           
            </div>
            
            <form id = "dateForm" action="" method="POST" novalidate>
                <div id ="num">
                    {{ form.hidden_tag() }}
                    <h2 style="font-size:20px; text-align: center">Select a date</h2>
                    {{form.date}} <br>
                    {{form.submit(class_="btn")}}
                   
                    <button type="button" class="btn" onclick="closeForm()">CANCEL</button> <br>
                    <p hidden>{{form.id}}</p>
                </div>
            </form>
            <div class="col-md-3">
                <div class="row">
                    <div class = "sid_content">

                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div id = "side_content">
        <p id = "side_title">s</p> <br>
        <p id = "side_description"></p>
    </div>
    {% block script %}
    <script> 
    
        var z;

        function closeForm() {
            document.getElementById("dateForm").style.display = "none";
            
        }
            
            $(function() {
                $('.test').click(function() {
                    console.log("we made it");
                    var id = z.id;
                   console.log(id);
                   
                    $.ajax({
                        type: 'POST',
                        url: "/reviewer" ,                       
                        data : {'id':id}
                    });
                    console.log("we here");
                });
            });

            function openForm(id) {
                //id = id 
                document.getElementById("dateForm").style.display = "block";
                /*document.getElementById("submit").setAttribute("id", id)*/
                z = document.getElementById(id);
                document.getElementById("id").value = id
                var x = document.getElementById(id).parentElement.offsetTop
                var y = document.getElementById(id).offsetLeft
                console.log(id + ' ' + x + ' ' + y)
                document.getElementById("dateForm").style.top = (x + 150)
                document.getElementById("dateForm").style.left = y
            }

        

        $(function () {
        $('#datepick').datetimepicker();
    });

    function createSide(card) {
        //document.getElementById("side_title").value = title
        document.getElementById("side_content").style.width = "20%";
        console.log(card.querySelector(".des").innerText);
        document.getElementById("side_title").innerText = card.querySelector(".title").innerText;
        document.getElementById("side_description").innerText = card.querySelector(".des").innerText;
    }

    $(document).mousedown(function (e) {
    var container = $("#side_content");
    console.log("we here");
    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
       if($("#side_content").width() != 0 )
            {
                container.width(0);
            }
    }
  });

    </script>
    {% endblock %}
{% endblock %}